body {
    margin-top: 10%;
    font-family: Arial, sans-serif;
    background-color: #d2efff;
  }
  h1{
    font-family: rgb(194, 197, 197);
      font-size: 50px;
      font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      color: rgb(157, 178, 253);
  }