
table{
    margin-top: 5%;
    font-size: medium;
    text-decoration: #d69898;
    text-size-adjust:inherit
}
h1{
    color: aqua;
    margin-top: 10%;
    font-size: 80px;
}
 search{
    margin-bottom: 5%;
 }

